@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: honeydew;
}
main {
  height: 430px;
  width: 320px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.sky {
  position: absolute;
  top: 0;
  width: 100%;
}
div .cloud-1 {
  width: 100%;
  height: 60px;
  background: cornsilk;
}
.country_capital {
  padding-top: 1rem;
  font-size: 30px;
  font-style: oblique;
  padding-bottom: 1.5rem;
}
.title_capital {
  text-align: center;
}
.date_time {
  font-size: 20px;
  display: inline-block;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(60, 60, 60);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(60, 60, 60) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
